# Python
__pycache__/

# VSCode
.vscode/

# Virtual environment
venv/
.env

# UI (frontend deployed separately)
ui/

# Data
data/raw*/*
data/processed*/*
!data/sample/*

tests/
.git/
.gitignore

notes.txt
test.py

